body {
    background-color: #333;
}

.choosingArea {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.fighter-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.fightArea {
    display: none; 
    gap: 20px;
}

#character, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #222;
    border-radius: 5px;
    background-color: #CCC;
}

.lifebar .bar {
    height: inherit;
    background-color: green;
    border-radius: 5px;
    width: 10%;
}

.fightlog {
    display: none;
    margin-top: 40%;
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}